<div class="container">
    <div class="row">
      <div class="sidebar">
        <!--Sidebar content-->
    </div>
        <div class="main">
            <!--Main content-->
            <ul>
                <li *ngFor="let spe of Specs">
                    <span>{{spe.nom}}</span>
                    <p>{{spe.ingredients}}</p>
                    <p>{{spe.description}}</p>
                    
                    
                  
                    
                    
                </li>
            </ul>
        </div>
    </div>
  </div>