<html>
  <header>
    <nav class="topnav">
          <a routerLink="/Home">Home</a>
          <a routerLink="/GR">Liste des GR</a>
          <a routerLink="/Nourriture">Nourriture</a>
        </nav>
  
   
  </header>
  <body> 
        <div style="text-align:center">
          <h1><p>Bienvenue sur RandoPatate</p></h1>
          <h3>Le concept :</h3>
          <br>
          <p>RandoPatate, est LE site qui vous permet de trouver une chemin de Grande Randonnée et un exemple de nourriture locale en fonction de la région de vous choisissez !</p>
        </div>
        
          

<router-outlet></router-outlet>
   
   </body>
</html>

 